body {
    font-family: Bellota Text;
  }
  .display-1 {
    font-family: 'Bellota Text', display;
    font-size: 4rem;
    line-height: 1.1;
  }
  .display-1 > .mbr-iconfont {
    font-size: 5rem;
  }
  .display-2 {
    font-family: 'Bellota Text', display;
    font-size: 2.8rem;
    line-height: 1.1;
  }
  .display-2 > .mbr-iconfont {
    font-size: 3.5rem;
  }
  .display-4 {
    font-family: 'Bellota Text', display;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .display-4 > .mbr-iconfont {
    font-size: 1.375rem;
  }
  .display-5 {
    font-family: 'Bellota Text', display;
    font-size: 1.7rem;
    line-height: 1.5;
  }
  .display-5 > .mbr-iconfont {
    font-size: 2.125rem;
  }
  .display-7 {
    font-family: 'Bellota Text', display;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .display-7 > .mbr-iconfont {
    font-size: 1.5rem;
  }
  /* ---- Fluid typography for mobile devices ---- */
  /* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
  /* 100vw - current viewport width */
  /* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
  /* 0.65 - min scale variable, may vary */
  @media (max-width: 992px) {
    .display-1 {
      font-size: 3.2rem;
    }
  }
  @media (max-width: 768px) {
    .display-1 {
      font-size: 2.8rem;
      font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.1 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
      font-size: 2.24rem;
      font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.3 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
      font-size: 0.88rem;
      font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
      font-size: 1.36rem;
      font-size: calc( 1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.245rem + (1.7 - 1.245) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
      font-size: 0.96rem;
      font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
      line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
  }
  /* Buttons */
  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
  }
  .btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
  }
  .bg-primary {
    background-color: #36187d !important;
  }
  .bg-success {
    background-color: #35b8fc !important;
  }
  .bg-info {
    background-color: #47b5ed !important;
  }
  .bg-warning {
    background-color: #6c758f !important;
  }
  .bg-danger {
    background-color: #36187d !important;
  }
  .btn-primary,
  .btn-primary:active {
    background-color: #36187d !important;
    border-color: #36187d !important;
    color: #ffffff !important;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary.active {
    color: #ffffff !important;
    background-color: #241052 !important;
    border-color: #241052 !important;
  }
  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #ffffff !important;
    background-color: #241052 !important;
    border-color: #241052 !important;
  }
  .btn-secondary,
  .btn-secondary:active {
    background-color: #ea2396 !important;
    border-color: #ea2396 !important;
    color: #ffffff !important;
  }
  .btn-secondary:hover,
  .btn-secondary:focus,
  .btn-secondary.focus,
  .btn-secondary.active {
    color: #ffffff !important;
    background-color: #c7137b !important;
    border-color: #c7137b !important;
  }
  .btn-secondary.disabled,
  .btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #c7137b !important;
    border-color: #c7137b !important;
  }
  .btn-info,
  .btn-info:active {
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
    color: #ffffff !important;
  }
  .btn-info:hover,
  .btn-info:focus,
  .btn-info.focus,
  .btn-info.active {
    color: #ffffff !important;
    background-color: #19a2e8 !important;
    border-color: #19a2e8 !important;
  }
  .btn-info.disabled,
  .btn-info:disabled {
    color: #ffffff !important;
    background-color: #19a2e8 !important;
    border-color: #19a2e8 !important;
  }
  .btn-success,
  .btn-success:active {
    background-color: #35b8fc !important;
    border-color: #35b8fc !important;
    color: #ffffff !important;
  }
  .btn-success:hover,
  .btn-success:focus,
  .btn-success.focus,
  .btn-success.active {
    color: #ffffff !important;
    background-color: #04a6fa !important;
    border-color: #04a6fa !important;
  }
  .btn-success.disabled,
  .btn-success:disabled {
    color: #ffffff !important;
    background-color: #04a6fa !important;
    border-color: #04a6fa !important;
  }
  .btn-warning,
  .btn-warning:active {
    background-color: #6c758f !important;
    border-color: #6c758f !important;
    color: #ffffff !important;
  }
  .btn-warning:hover,
  .btn-warning:focus,
  .btn-warning.focus,
  .btn-warning.active {
    color: #ffffff !important;
    background-color: #565d72 !important;
    border-color: #565d72 !important;
  }
  .btn-warning.disabled,
  .btn-warning:disabled {
    color: #ffffff !important;
    background-color: #565d72 !important;
    border-color: #565d72 !important;
  }
  .btn-danger,
  .btn-danger:active {
    background-color: #36187d !important;
    border-color: #36187d !important;
    color: #ffffff !important;
  }
  .btn-danger:hover,
  .btn-danger:focus,
  .btn-danger.focus,
  .btn-danger.active {
    color: #ffffff !important;
    background-color: #241052 !important;
    border-color: #241052 !important;
  }
  .btn-danger.disabled,
  .btn-danger:disabled {
    color: #ffffff !important;
    background-color: #241052 !important;
    border-color: #241052 !important;
  }
  .btn-white,
  .btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
  }
  .btn-white:hover,
  .btn-white:focus,
  .btn-white.focus,
  .btn-white.active {
    color: #616161 !important;
    background-color: #e1e1e1 !important;
    border-color: #e1e1e1 !important;
  }
  .btn-white.disabled,
  .btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #e1e1e1 !important;
    border-color: #e1e1e1 !important;
  }
  .btn-black,
  .btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
  }
  .btn-black:hover,
  .btn-black:focus,
  .btn-black.focus,
  .btn-black.active {
    color: #ffffff !important;
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
  }
  .btn-black.disabled,
  .btn-black:disabled {
    color: #ffffff !important;
    background-color: #0a0a0a !important;
    border-color: #0a0a0a !important;
  }
  .btn-primary-outline,
  .btn-primary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #36187d;
  }
  .btn-primary-outline:hover,
  .btn-primary-outline:focus,
  .btn-primary-outline.focus,
  .btn-primary-outline.active {
    color: #170a34 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-primary-outline.disabled,
  .btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #36187d !important;
    border-color: #36187d !important;
  }
  .btn-secondary-outline,
  .btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ea2396;
  }
  .btn-secondary-outline:hover,
  .btn-secondary-outline:focus,
  .btn-secondary-outline.focus,
  .btn-secondary-outline.active {
    color: #a61067 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-secondary-outline.disabled,
  .btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #ea2396 !important;
    border-color: #ea2396 !important;
  }
  .btn-info-outline,
  .btn-info-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #47b5ed;
  }
  .btn-info-outline:hover,
  .btn-info-outline:focus,
  .btn-info-outline.focus,
  .btn-info-outline.active {
    color: #148cca !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-info-outline.disabled,
  .btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #47b5ed !important;
    border-color: #47b5ed !important;
  }
  .btn-success-outline,
  .btn-success-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #35b8fc;
  }
  .btn-success-outline:hover,
  .btn-success-outline:focus,
  .btn-success-outline.focus,
  .btn-success-outline.active {
    color: #038fd7 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-success-outline.disabled,
  .btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #35b8fc !important;
    border-color: #35b8fc !important;
  }
  .btn-warning-outline,
  .btn-warning-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #6c758f;
  }
  .btn-warning-outline:hover,
  .btn-warning-outline:focus,
  .btn-warning-outline.focus,
  .btn-warning-outline.active {
    color: #474d5e !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-warning-outline.disabled,
  .btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #6c758f !important;
    border-color: #6c758f !important;
  }
  .btn-danger-outline,
  .btn-danger-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #36187d;
  }
  .btn-danger-outline:hover,
  .btn-danger-outline:focus,
  .btn-danger-outline.focus,
  .btn-danger-outline.active {
    color: #170a34 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-danger-outline.disabled,
  .btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #36187d !important;
    border-color: #36187d !important;
  }
  .btn-black-outline,
  .btn-black-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #232323;
  }
  .btn-black-outline:hover,
  .btn-black-outline:focus,
  .btn-black-outline.focus,
  .btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-black-outline.disabled,
  .btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
  }
  .btn-white-outline,
  .btn-white-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #fafafa;
  }
  .btn-white-outline:hover,
  .btn-white-outline:focus,
  .btn-white-outline.focus,
  .btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
  }
  .btn-white-outline.disabled,
  .btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
  }
  .text-primary {
    color: #36187d !important;
  }
  .text-secondary {
    color: #ea2396 !important;
  }
  .text-success {
    color: #35b8fc !important;
  }
  .text-info {
    color: #47b5ed !important;
  }
  .text-warning {
    color: #6c758f !important;
  }
  .text-danger {
    color: #36187d !important;
  }
  .text-white {
    color: #fafafa !important;
  }
  .text-black {
    color: #232323 !important;
  }
  a.text-primary:hover,
  a.text-primary:focus,
  a.text-primary.active {
    color: #110827 !important;
  }
  a.text-secondary:hover,
  a.text-secondary:focus,
  a.text-secondary.active {
    color: #980f5e !important;
  }
  a.text-success:hover,
  a.text-success:focus,
  a.text-success.active {
    color: #0385c8 !important;
  }
  a.text-info:hover,
  a.text-info:focus,
  a.text-info.active {
    color: #1283bc !important;
  }
  a.text-warning:hover,
  a.text-warning:focus,
  a.text-warning.active {
    color: #404555 !important;
  }
  a.text-danger:hover,
  a.text-danger:focus,
  a.text-danger.active {
    color: #110827 !important;
  }
  a.text-white:hover,
  a.text-white:focus,
  a.text-white.active {
    color: #c7c7c7 !important;
  }
  a.text-black:hover,
  a.text-black:focus,
  a.text-black.active {
    color: #000000 !important;
  }
  a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
    text-decoration: underline;
  }
  .nav-tabs .nav-link.active {
    color: #36187d;
  }
  .nav-tabs .nav-link:not(.active) {
    color: #232323;
  }
  .alert-success {
    background-color: #70c770;
  }
  .alert-info {
    background-color: #47b5ed;
  }
  .alert-warning {
    background-color: #6c758f;
  }
  .alert-danger {
    background-color: #36187d;
  }
  .mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
  }
  .mbr-gallery-filter li a {
    border-radius: 100px !important;
  }
  .mbr-gallery-filter li.active .btn {
    background-color: #36187d;
    border-color: #36187d;
    color: #ffffff;
  }
  .mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
  }
  .nav-tabs .nav-link {
    border-radius: 100px !important;
  }
  a,
  a:hover {
    color: #36187d;
  }
  .mbr-plan-header.bg-primary .mbr-plan-subtitle,
  .mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #6a3bd9;
  }
  .mbr-plan-header.bg-success .mbr-plan-subtitle,
  .mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #feffff;
  }
  .mbr-plan-header.bg-info .mbr-plan-subtitle,
  .mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #ffffff;
  }
  .mbr-plan-header.bg-warning .mbr-plan-subtitle,
  .mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #b4b9c6;
  }
  .mbr-plan-header.bg-danger .mbr-plan-subtitle,
  .mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #6a3bd9;
  }
  /* Scroll to top button*/
  .scrollToTop_wraper {
    display: none;
  }
  .form-control {
    font-family: 'Bellota Text', display;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control > .mbr-iconfont {
    font-size: 1.375rem;
  }
  .form-control:hover,
  .form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #36187d !important;
  }
  .form-control:-webkit-input-placeholder {
    font-family: 'Bellota Text', display;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  .form-control:-webkit-input-placeholder > .mbr-iconfont {
    font-size: 1.375rem;
  }
  blockquote {
    border-color: #36187d;
  }
  /* Forms */
  .mbr-form .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .mbr-form .input-group-btn a.btn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .mbr-form .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
    padding: 1rem 3rem;
  }
  .mbr-form .input-group-btn button[type="submit"]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  }
  .jq-selectbox li:hover,
  .jq-selectbox li.selected {
    background-color: #36187d;
    color: #ffffff;
  }
  .jq-number__spin {
    transition: 0.25s ease;
  }
  .jq-number__spin:hover {
    border-color: #36187d;
  }
  .jq-selectbox .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:after,
  .jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
  }
  .jq-selectbox:hover .jq-selectbox__trigger-arrow,
  .jq-number__spin.minus:hover:after,
  .jq-number__spin.plus:hover:after {
    border-top-color: #36187d;
    border-bottom-color: #36187d;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
  .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    color: #ffffff !important;
    background-color: #36187d !important;
    box-shadow: none !important;
  }
  .xdsoft_datetimepicker .xdsoft_calendar td:hover,
  .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
    color: #ffffff !important;
    background: #ea2396 !important;
    box-shadow: none !important;
  }
  .lazy-bg {
    background-image: none !important;
  }
  .lazy-placeholder:not(section),
  .lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
  }
  iframe.lazy-placeholder,
  .lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2336187d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  }
  section.lazy-placeholder:after {
    opacity: 0.5;
  }
  body {
    overflow-x: hidden;
  }
  a {
    transition: color 0.6s;
  }
  .cid-svGO3L0vrV {
    z-index: 1000;
    width: 100%;
    position: relative;
    min-height: 60px;
  }
  .cid-svGO3L0vrV .container {
    max-width: 1400px;
    padding: 0 2rem;
    display: flex;
    margin: auto;
  }
  @media (max-width: 767px) {
    .cid-svGO3L0vrV .container {
      padding: 0 ;
    }
  }
  .cid-svGO3L0vrV .navbar {
    min-height: 85px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: #f2f3f7;
  }
  .cid-svGO3L0vrV .navbar.opened {
    transition: all 0.3s;
  }
  .cid-svGO3L0vrV .navbar .dropdown-item {
    padding: 0.5rem 1.8rem;
  }
  .cid-svGO3L0vrV .navbar .navbar-logo img {
    width: auto;
  }
  .cid-svGO3L0vrV .navbar .navbar-collapse {
    justify-content: flex-end;
    z-index: 1;
  }
  .cid-svGO3L0vrV .navbar.collapsed {
    justify-content: center;
  }
  .cid-svGO3L0vrV .navbar.collapsed .nav-item .nav-link::before {
    display: none;
  }
  .cid-svGO3L0vrV .navbar.collapsed.opened .dropdown-menu {
    top: 0;
  }
  .cid-svGO3L0vrV .navbar.collapsed .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-svGO3L0vrV .navbar.collapsed .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-svGO3L0vrV .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 41%;
  }
  .cid-svGO3L0vrV .navbar.collapsed ul.navbar-nav li {
    margin: auto;
  }
  .cid-svGO3L0vrV .navbar.collapsed .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-svGO3L0vrV .navbar.collapsed .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 991px) {
    .cid-svGO3L0vrV .navbar .nav-item .nav-link::before {
      display: none;
    }
    .cid-svGO3L0vrV .navbar.opened .dropdown-menu {
      top: 0;
    }
    .cid-svGO3L0vrV .navbar .dropdown-menu .dropdown-submenu {
      left: 0 !important;
    }
    .cid-svGO3L0vrV .navbar .dropdown-menu .dropdown-item:after {
      right: auto;
    }
    .cid-svGO3L0vrV .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
      margin-left: 0.5rem;
      margin-top: 0.2rem;
      border-top: 0.35em solid;
      border-right: 0.35em solid transparent;
      border-left: 0.35em solid transparent;
      border-bottom: 0;
      top: 40%;
    }
    .cid-svGO3L0vrV .navbar .navbar-logo img {
      height: 3rem !important;
    }
    .cid-svGO3L0vrV .navbar ul.navbar-nav li {
      margin: auto;
    }
    .cid-svGO3L0vrV .navbar .dropdown-menu .dropdown-item {
      padding: 0.25rem 1.5rem !important;
      text-align: center;
    }
    .cid-svGO3L0vrV .navbar .navbar-brand {
      flex-shrink: initial;
      flex-basis: auto;
      word-break: break-word;
      padding-right: 2rem;
    }
    .cid-svGO3L0vrV .navbar .navbar-toggler {
      flex-basis: auto;
    }
    .cid-svGO3L0vrV .navbar .icons-menu {
      padding-left: 0;
      padding-right: 0;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
  }
  /* .cid-svGO3L0vrV .navbar.navbar-short {
    min-height: 85px;
  } */
  .cid-svGO3L0vrV .navbar.navbar-short .navbar-logo img {
    height: 2.5rem !important;
  }
  .cid-svGO3L0vrV .navbar.navbar-short .navbar-brand {
    min-height: 60px;
    padding: 0;
  }
  .cid-svGO3L0vrV .nav-link {
    font-weight: 700;
    position: relative;
  }
  .cid-svGO3L0vrV nav.navbar {
    position: relative;
  }
  .cid-svGO3L0vrV .dropdown-item:before {
    font-family: Moririse2 !important;
    content: "\e966";
    display: inline-block;
    width: 0;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    margin-right: 0.5rem;
    line-height: 1;
    font-size: inherit;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    transform: scale(0, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-svGO3L0vrV .dropdown-menu {
    padding: 0;
    border-radius: 4px;
  }
  .cid-svGO3L0vrV .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
  }
  .cid-svGO3L0vrV .dropdown-item:hover,
  .cid-svGO3L0vrV .dropdown-item:focus {
    background: #36187d !important;
    color: white !important;
  }
  .cid-svGO3L0vrV .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .cid-svGO3L0vrV .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .cid-svGO3L0vrV .nav-dropdown .link {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
  }
  .cid-svGO3L0vrV .nav-dropdown .link.dropdown-toggle::after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
  }
  .cid-svGO3L0vrV .iconfont-wrapper {
    color: #0196e3 !important;
    font-size: 1.5rem;
    padding-right: 0.5rem;
  }
  .cid-svGO3L0vrV .dropdown-menu,
  .cid-svGO3L0vrV .navbar.opened {
    background: #f2f3f7 !important;
  }
  .cid-svGO3L0vrV .nav-item:focus,
  .cid-svGO3L0vrV .nav-link:focus {
    outline: none;
  }
  .cid-svGO3L0vrV .dropdown .dropdown-menu .dropdown-item {
    width: auto;
    transition: all 0.25s ease-in-out;
  }
  .cid-svGO3L0vrV .dropdown .dropdown-menu .dropdown-item::after {
    right: 0.5rem;
  }
  .cid-svGO3L0vrV .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
    margin-right: 0.5rem;
    vertical-align: sub;
  }
  .cid-svGO3L0vrV .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
    display: inline-block;
    transform: scale(1, 1);
    transition: all 0.25s ease-in-out;
  }
  .cid-svGO3L0vrV .collapsed .dropdown-menu .dropdown-item:before {
    display: none;
  }
  .cid-svGO3L0vrV .collapsed .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
  .cid-svGO3L0vrV .navbar-brand {
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
  }
  .cid-svGO3L0vrV .navbar-brand .navbar-caption {
    line-height: inherit !important;
  }
  .cid-svGO3L0vrV .navbar-brand .navbar-logo a {
    outline: none;
  }
  .cid-svGO3L0vrV .dropdown-item.active,
  .cid-svGO3L0vrV .dropdown-item:active {
    background-color: transparent;
  }
  .cid-svGO3L0vrV .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }
  .cid-svGO3L0vrV .nav-dropdown .link.dropdown-toggle {
    margin-right: 1.667em;
  }
  .cid-svGO3L0vrV .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
    margin-right: 0;
    padding: 0.667em 1.667em;
  }
  .cid-svGO3L0vrV .navbar.navbar-expand-lg .dropdown .dropdown-menu {
    background: #f2f3f7;
  }
  .cid-svGO3L0vrV .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
    margin: 0;
    left: 100%;
  }
  .cid-svGO3L0vrV .navbar .dropdown.open > .dropdown-menu {
    display: block;
  }
  .cid-svGO3L0vrV ul.navbar-nav {
    flex-wrap: wrap;
  }
  .cid-svGO3L0vrV .navbar-buttons {
    text-align: center;
    min-width: 170px;
  }
  .cid-svGO3L0vrV button.navbar-toggler {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-svGO3L0vrV button.navbar-toggler .hamburger span {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #36187d;
  }
  .cid-svGO3L0vrV button.navbar-toggler .hamburger span:nth-child(1) {
    top: 0;
    transition: all 0.2s;
  }
  .cid-svGO3L0vrV button.navbar-toggler .hamburger span:nth-child(2) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-svGO3L0vrV button.navbar-toggler .hamburger span:nth-child(3) {
    top: 8px;
    transition: all 0.15s;
  }
  .cid-svGO3L0vrV button.navbar-toggler .hamburger span:nth-child(4) {
    top: 16px;
    transition: all 0.2s;
  }
  .cid-svGO3L0vrV nav.opened .hamburger span:nth-child(1) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-svGO3L0vrV nav.opened .hamburger span:nth-child(2) {
    transform: rotate(45deg);
    transition: all 0.25s;
  }
  .cid-svGO3L0vrV nav.opened .hamburger span:nth-child(3) {
    transform: rotate(-45deg);
    transition: all 0.25s;
  }
  .cid-svGO3L0vrV nav.opened .hamburger span:nth-child(4) {
    top: 8px;
    width: 0;
    opacity: 0;
    right: 50%;
    transition: all 0.2s;
  }
  .cid-svGO3L0vrV .navbar-dropdown {
    padding: 0 1rem;
    position: fixed;
  }
  .cid-svGO3L0vrV a.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cid-svGO3L0vrV .icons-menu {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    text-align: center;
  }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .cid-svGO3L0vrV .navbar {
      height: 70px;
    }
    .cid-svGO3L0vrV .navbar.opened {
      height: auto;
    }
    .cid-svGO3L0vrV .nav-item .nav-link:hover::before {
      width: 175%;
      max-width: calc(100% + 2rem);
      left: -1rem;
    }
  }
  .cid-svGO3L0vrV .icons-menu .mbr-iconfont {
    font-size: x-small;
    padding: 1.5rem!important;
    margin: 0 0.3rem!important;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    border-radius: 10%;
    height: 1000px !important;
    transition: all 0.3s;
  }
  .cid-svGO3L0vrV .icons-menu .mbr-iconfont:hover {
    background: #f8f9fb;
  }
  .cid-svGO3o7YHJ {
    padding-top: 7rem;
    padding-bottom: 6rem;
    background-color: #f2f3f7;
  }
  .cid-svGO3o7YHJ .mbr-section-title {
    color: #36187d;
  }
  .cid-svGO3o7YHJ .mbr-section-subtitle {
    color: #0196e3;
  }
  .cid-svGO3o7YHJ .mbr-text {
    color: #36187d;
  }
  .cid-svGO3o7YHJ .title-col {
    border-right: 3px solid currentColor;
    color: #0196e3;
    margin-right: 3rem;
    align-items: center;
    display: inline-flex;
    width: 100%;
  }
  @media (max-width: 992px) {
    .cid-svGO3o7YHJ .title-col {
      margin-right: 0;
      border-right: 0;
    }
  }
  .cid-svGO3o7YHJ .text-col {
    align-items: center;
    display: flex;
  }
  .cid-svGO3o7YHJ .mbr-section-subtitle,
  .cid-svGO3o7YHJ .title-col {
    width: 100%;
  }
  .cid-svGOrpYd1R {
    /* padding-top: 6rem; */
    padding-bottom: 6rem;
    background-color: #f2f3f7;
  }
  .cid-svGOrpYd1R .mbr-iconfont {
    display: block;
    font-size: 4rem;
    color: #0196e3;
    margin-bottom: 1.5rem;
  }
  .cid-svGOrpYd1R .col-lg-4,
  .cid-svGOrpYd1R .col-12 {
    padding: 0 2rem;
  }
  .cid-svGOrpYd1R .row {
    margin: 0 -2rem;
    justify-content: center;
  }
  .cid-svGOrpYd1R .card-wrapper {
    padding: 3rem 2rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    border-radius: 3rem;
  }
  @media (max-width: 767px) {
    .cid-svGOrpYd1R .card-wrapper {
      padding: 4rem 2rem;
    }
  }
  @media (max-width: 992px) {
    .cid-svGOrpYd1R .card-wrapper {
      margin-bottom: 3rem;
    }
  }
  .cid-svGOrpYd1R .card-title,
  .cid-svGOrpYd1R .iconfont-wrapper {
    color: #36187d;
    text-align: center;
  }
  .cid-svGOrpYd1R .card-text {
    color: #6c758f;
    text-align: center;
  }
  .cid-svGOrpYd1R .mbr-section-subtitle {
    color: #6c758f;
  }
  .cid-svGOrpYd1R .mbr-section-title {
    color: #36187d;
  }
  .cid-svGOYoMz5M {
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-color: #f2f3f7;
  }
  .cid-svGOYoMz5M .mbr-text {
    color: #6c758f;
  }
  .cid-svGOYoMz5M .mbr-section-subtitle {
    color: #6c758f;
  }
  .cid-svGOYoMz5M .mbr-section-title {
    color: #36187d;
  }
  .cid-svGOJkKBf4 {
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-color: #f2f3f7;
  }
  .cid-svGOJkKBf4 .mbr-section-title,
  .cid-svGOJkKBf4 .mbr-section-subtitle {
    text-align: center;
  }
  .cid-svGOJkKBf4 .cost {
    word-break: normal;
  }
  .cid-svGOJkKBf4 .card-wrapper {
    margin-bottom: 2rem;
    border-radius: 3rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    background: #f2f3f7;
  }
  .cid-svGOJkKBf4 .card-wrapper .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: 768px) {
    .cid-svGOJkKBf4 .card-wrapper {
      padding: 2rem;
    }
  }
  @media (max-width: 767px) {
    .cid-svGOJkKBf4 .card-wrapper {
      padding: 1rem;
    }
  }
  .cid-svGOJkKBf4 .card-title {
    color: #36187d;
  }
  .cid-svGOJkKBf4 P {
    color: #6c758f;
  }
  .cid-svGOJkKBf4 .mbr-section-title {
    color: #36187d;
  }
  .cid-svMHDEbjkQ {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #f2f3f7;
  }
  .cid-svMHDEbjkQ img,
  .cid-svMHDEbjkQ .item-img {
    border-radius: 2rem;
    transition: all 0.3s;
    overflow: hidden;
    width: 100%;
    height: 100%;
    height: 300px;
    object-fit: cover;
  }
  .cid-svMHDEbjkQ .item:focus,
  .cid-svMHDEbjkQ span:focus {
    outline: none;
  }
  .cid-svMHDEbjkQ .item {
    cursor: pointer;
    margin-bottom: 2rem;
  }
  .cid-svMHDEbjkQ .item-wrapper {
    position: relative;
    padding: 1rem;
    border-radius: 3rem;
    background: #f2f3f7;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  }
  .cid-svMHDEbjkQ .item-wrapper:hover img {
    transform: scale(1.05);
  }
  @media (max-width: 767px) {
    .cid-svMHDEbjkQ .item-wrapper {
      border-radius: 2rem;
    }
  }
  .cid-svMHDEbjkQ .item-content {
    padding: 1.5rem 1rem;
  }
  @media (max-width: 767px) {
    .cid-svMHDEbjkQ .item-content {
      padding: 1rem 0;
    }
  }
  .cid-svMHDEbjkQ .mbr-section-title {
    color: #36187d;
  }
  .cid-svMHDEbjkQ .item-title {
    color: #36187d;
  }
  .cid-svMHDEbjkQ .item-subtitle {
    color: #bec2cf;
  }
  .cid-svMHDEbjkQ .mbr-text,
  .cid-svMHDEbjkQ .mbr-section-btn {
    color: #36187d;
  }
  .cid-svMHDEbjkQ .mbr-link {
    color: #0196e3;
  }
 
  .cid-svGOIplOCE {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #f2f3f7;
  }
  .cid-svGOIplOCE .progress {
    width: 100%;
  }
  .cid-svGOIplOCE p {
    margin-bottom: 0.4rem;
  }
  .cid-svGOIplOCE .title-wrap {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .cid-svGOIplOCE progress {
    height: 10px;
  }
  .cid-svGOIplOCE .progressbar-number {
    display: inline-block;
    width: 50px;
  }
  .cid-svGOIplOCE .progress-primary {
    background: rgba(206, 206, 206, 0.4);
    border: none;
    outline: none;
  }
  .cid-svGOIplOCE .progress-primary::-webkit-progress-bar {
    background: rgba(206, 206, 206, 0.4);
  }
  .cid-svGOIplOCE .progress_value {
    position: relative;
  }
  .cid-svGOIplOCE .progress1 .progressbar-number:before,
  .cid-svGOIplOCE .progress2 .progressbar-number:before,
  .cid-svGOIplOCE .progress3 .progressbar-number:before,
  .cid-svGOIplOCE .progress4 .progressbar-number:before,
  .cid-svGOIplOCE .progress5 .progressbar-number:before {
    position: absolute;
    right: 15px;
    top: 0;
  }
  .cid-svGOIplOCE progress[value]::-webkit-progress-bar {
    background: rgba(206, 206, 206, 0.4);
  }
  .cid-svGOIplOCE progress::-webkit-progress-value {
    background: #36187d;
  }
  .cid-svGOIplOCE progress[value]::-moz-progress-bar {
    background: #36187d;
  }
  .cid-svGOIplOCE progress::-ms-fill {
    background: #36187d;
  }
  .cid-svGOIplOCE .progress1 .progressbar-number:before {
    content: '92';
  }
  .cid-svGOIplOCE .progress2 .progressbar-number:before {
    content: '71';
  }
  .cid-svGOIplOCE .progress3 .progressbar-number:before {
    content: '53';
  }
  .cid-svGOIplOCE .progress4 .progressbar-number:before {
    content: '70';
  }
  .cid-svGOIplOCE .progress5 .progressbar-number:before {
    content: '60';
  }
  .cid-svGOIplOCE .section-content-text {
    color: #6c758f;
  }
  .cid-svGOIplOCE .progressbar-title p,
  .cid-svGOIplOCE .progress_value {
    color: #6c758f;
  }
  .cid-svGOIplOCE .mbr-section-subtitle {
    color: #6c758f;
  }
  .cid-svGOIplOCE .section-content-title {
    color: #36187d;
  }
  .cid-svGOQPXx24 {
    padding-top: 60px;
    padding-bottom: 0px;
    background-color: #f2f3f7;
  }
  .cid-svGOQPXx24 .row {
    align-items: stretch;
    justify-content: center;
  }
  .cid-svGOQPXx24 .row .img-item {
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .cid-svGOQPXx24 .row .img-item img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    margin-bottom: 0.5rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
    border-radius: 3rem;
  }
  .cid-svGOQPXx24 P {
    color: #6c758f;
  }
  
  .cid-svGOzp5ABz {
    width: 100% !important;
    margin-top: -72px;
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #f2f3f7;
  }
  .cid-svGOzp5ABz .image-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 1rem;
    overflow: hidden;
  }
  .cid-svGOzp5ABz .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .cid-svGOzp5ABz .col-lg-6 {
    padding: 0 2rem;
  }
  .cid-svGOzp5ABz .row {
    margin: 0 -8rem;
    justify-content: center;
    align-items: center;
  }
  .cid-svGOzp5ABz .card-wrapper {
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  }
  @media (max-width: 767px) {
    .cid-svGOzp5ABz .card-wrapper {
      padding: 1rem 1rem;
      margin-bottom: 2rem;
    }
  }
  .cid-svGOzp5ABz .mbr-text {
    color: #6c758f;
  }
  .cid-svGOzp5ABz .name {
    color: #36187d;
  }
  .cid-svGOzp5ABz .position {
    color: #6c758f;
  }
  @media (max-width: 767px) {
    .cid-svGOzp5ABz .d-flex {
      justify-content: center;
    }
  }
  .cid-svGOzp5ABz .mbr-section-title {
    color: #36187d;
  }
  
  .cid-svGODxHY5I {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f2f3f7;
  }
  .cid-svGODxHY5I .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-svGODxHY5I .btn {
    padding: 1rem 3rem;
    border-radius: 2rem;
  }
  @media (max-width: 767px) {
    .cid-svGODxHY5I .col-auto {
      margin: auto;
    }
  }
  .cid-svGODxHY5I textarea {
    min-height: 200px;
  }
  .cid-svGODxHY5I .form-control,
  .cid-svGODxHY5I .field-input {
    padding: 1.5rem 2rem;
    box-shadow: inset 1px 1px 2px 0 #d2dce9;
    background-color: #edeff3;
    border-radius: 3rem;
    border: 0!important;
    color: #000000;
    transition: 0.4s;
    outline: none;
  }
  .cid-svGODxHY5I .form-control::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input::-webkit-input-placeholder,
  .cid-svGODxHY5I .form-control::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input::-webkit-input-placeholder {
    color: #36187d;
  }
  .cid-svGODxHY5I .form-control:-moz-placeholder,
  .cid-svGODxHY5I .field-input:-moz-placeholder,
  .cid-svGODxHY5I .form-control:-moz-placeholder,
  .cid-svGODxHY5I .field-input:-moz-placeholder {
    color: #36187d;
  }
  .cid-svGODxHY5I .form-control:hover,
  .cid-svGODxHY5I .field-input:hover,
  .cid-svGODxHY5I .form-control:focus,
  .cid-svGODxHY5I .field-input:focus {
    background-color: #edeff3;
    color: #232323;
    border: 0!important;
    box-shadow: inset 1px 1px 2px 0 #d2dce9;
    outline: none;
  }
  .cid-svGODxHY5I .form-control:hover::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input:hover::-webkit-input-placeholder,
  .cid-svGODxHY5I .form-control:focus::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input:focus::-webkit-input-placeholder,
  .cid-svGODxHY5I .form-control:hover::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input:hover::-webkit-input-placeholder,
  .cid-svGODxHY5I .form-control:focus::-webkit-input-placeholder,
  .cid-svGODxHY5I .field-input:focus::-webkit-input-placeholder {
    color: #36187d;
  }
  .cid-svGODxHY5I .form-control:hover:-moz-placeholder,
  .cid-svGODxHY5I .field-input:hover:-moz-placeholder,
  .cid-svGODxHY5I .form-control:focus:-moz-placeholder,
  .cid-svGODxHY5I .field-input:focus:-moz-placeholder,
  .cid-svGODxHY5I .form-control:hover:-moz-placeholder,
  .cid-svGODxHY5I .field-input:hover:-moz-placeholder,
  .cid-svGODxHY5I .form-control:focus:-moz-placeholder,
  .cid-svGODxHY5I .field-input:focus:-moz-placeholder {
    color: #36187d;
  }
  .cid-svGODxHY5I .jq-number__spin:hover,
  .cid-svGODxHY5I .jq-number__spin:focus {
    background-color: #edeff3;
    color: #ffffff;
    box-shadow: none;
    outline: none;
  }
  .cid-svGODxHY5I .jq-number__spin {
    background-color: #edeff3;
    color: #000000;
    transition: 0.4s;
    box-shadow: none;
    outline: none;
  }
  .cid-svGODxHY5I .jq-selectbox li,
  .cid-svGODxHY5I .jq-selectbox li {
    background-color: #edeff3;
    color: #000000;
  }
  .cid-svGODxHY5I .jq-selectbox li:hover,
  .cid-svGODxHY5I .jq-selectbox li.selected {
    background-color: #edeff3;
    color: #000000;
  }
  .cid-svGODxHY5I .jq-selectbox:hover .jq-selectbox__trigger-arrow,
  .cid-svGODxHY5I .jq-number__spin.minus:hover:after,
  .cid-svGODxHY5I .jq-number__spin.plus:hover:after {
    border-top-color: #edeff3;
    border-bottom-color: #edeff3;
  }
  .cid-svGODxHY5I .jq-selectbox .jq-selectbox__trigger-arrow,
  .cid-svGODxHY5I .jq-number__spin.minus:after,
  .cid-svGODxHY5I .jq-number__spin.plus:after {
    border-top-color: #edeff3;
    border-bottom-color: #edeff3;
  }
  .cid-svGODxHY5I input::-webkit-clear-button {
    display: none;
  }
  .cid-svGODxHY5I input::-webkit-inner-spin-button {
    display: none;
  }
  .cid-svGODxHY5I input::-webkit-outer-spin-button {
    display: none;
  }
  .cid-svGODxHY5I input::-webkit-calendar-picker-indicator {
    display: none;
  }
  .cid-svGODxHY5I H4 {
    color: #36187d;
  }
  .cid-svGODxHY5I .mbr-section-title {
    text-align: center;
    color: #36187d;
  }
  .cid-svGODxHY5I P {
    text-align: center;
    color: #6c758f;
  }
  @media (max-width: 767px) {
    .cid-svGODxHY5I .form-row {
      flex-direction: column;
    }
  }
  .cid-svGOB0XGuN {
    padding-top: 3rem;
    padding-bottom: 5rem;
    background-color: #f2f3f7;
  }
  
  .cid-svGOB0XGuN .mbr-section-title {
    color: #36187d;
  }
  @media (max-width: 992px) {
    .cid-svGOB0XGuN .md-pb {
      margin-bottom: 2rem!important;
    }
  }
  .cid-svGOEmEDBN {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f2f3f7;
    overflow: hidden;
  }
  .cid-svGOEmEDBN .mbr-title {
    color: #bec2cf;
  }
  .cid-svGOEmEDBN .mbr-text {
    color: #bec2cf;
  }
  .cid-svGOEmEDBN .row {
    align-items: center;
  }