
  .cid-svGOzp5ABzz .mbr-text {
    color: #6c758f;
  }
  .cid-svGOzp5ABzz .name {
    color: #36187d;
  }
  .cid-svGOzp5ABzz .position {
    color: #6c758f;
  }

  .cid-svGOzp5ABzz .mbr-section-title {
    color: #36187d;
  }
  
  .input-box form input {
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    justify-content: center !important;
    height: 45px;
    font-size: 14px;
    color: #4F4F4F;
  }
  .input-box form button {
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    height: 45px;
    font-size: 14px;
  }
  .input-box form textarea {
    margin-left: 1%;
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    height: 45px;
    font-size: 14px;
    color: #4F4F4F;
  }
  
  .display-2 {
    font-family: 'Bellota Text', display;
    font-size: 2.8rem;
    line-height: 1.1;
  }
  .display-2 > .mbr-iconfont {
    font-size: 3.5rem;
  }
    /* Add this style to position the error messages */
    .error-message {
        color: red;
        margin-top: -15px;
        margin-bottom: 15px;
    }