
  .cid-svGOzp5ABzz .card-wrapper {
    border-radius: 2rem;
    padding: 2rem;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  }

  .cid-svGOzp5ABzz .mbr-text {
    color: #6c758f;
  }
  .cid-svGOzp5ABzz .name {
    color: #36187d;
  }
  .cid-svGOzp5ABzz .position {
    color: #6c758f;
  }

  .cid-svGOzp5ABzz .mbr-section-title {
    color: #36187d;
  }
  
  .input-box form input {
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    height: 45px;
    font-size: 14px;
    color: #4F4F4F;
  }
  .input-box form button {
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    height: 45px;
    font-size: 14px;
  }
  .input-box form textarea {
    margin-left: 1%;
    width: 100%;
    border-radius: 6px;
    padding: 0 40px 0 15px;
    border: 0px;
    height: 45px;
    font-size: 14px;
    color: #4F4F4F;
  }
  
  .display-2 {
    font-family: 'Bellota Text', display;
    font-size: 2.8rem;
    line-height: 1.1;
  }
  .display-2 > .mbr-iconfont {
    font-size: 3.5rem;
  }
  